{{- $prevKey := "" -}}
{{- define "comma" }}{{ if . }},{{ end }}{{ end -}}
{{ range $key, $item := . }}
    {{- if eq $key "auth" -}}
        {{- template "comma" $prevKey -}}
        {{ template "auth.tmpl" $item }}
    {{- end -}}
    {{- $prevKey = $key -}}
{{ end }}